.first
{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    background-color: green;
    background-attachment: fixed;
    height: 500px;
}

.second
{
    height: 2000px;
}

.main_link
{
    color: red;
    text-decoration: overline;
}

.main_link:hover
{
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}

.main_link:active
{
    color: green;
    text-decoration: solid;
}

.main_link:visited
{
    color: gray;
}

input
{
    color: blue;
}

input:focus
{
    color: red;
}